<div id="bar-container">
    <h1>cleo.dev</h1>
    <img
        src="/static/line.svg"
        style="width: auto; height: 70px; margin: 0px 0px"
    />
    <div
        x-data="{ links: { 'Garden': 'home', 'About': 'about', 'Contact': 'contact' } }"
    >
        <ul>
            <template
                id="navbar-list"
                x-for="(article, name) in links"
                :key="name"
            >
                <li>
                    <button
                        :hx-get="'/components/article/' + article"
                        hx-target="#article-container"
                        hx-swap="outerHTML"
                        class="navbar-link"
                        x-text="name"
                    ></button>
                </li>
            </template>
        </ul>
    </div>
    <img
        src="/static/line.svg"
        style="width: auto; height: 70px; margin: 0px 0px"
    />
</div>
<style>
    /* Styling for navbar */
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .navbar-link {
        background: none;
        border: none;
        color: #212121;
        font-weight: bold;
        font-size: 1.2em;
        font-family: inherit;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    .navbar-link:hover {
        text-decoration: underline;
    }

    .navbar-link:focus {
        color: #7b68ee;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
